# Practice Code

## MySQL Connection Python

In [ ]:
# Dependency for MySQL Python Connection Chapter.
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (7.5 kB)
Downloading mysql_connector_python-9.5.0-cp312-cp312-manylinux_2_28_x86_64.whl (34.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.1/34.1 MB 57.7 MB/s  0:00:00m0:00:0100:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0
Note: you may need to restart the kernel to use updated packages.

In [93]:
import pickle
import csv

In [54]:
import mysql.connector
mydb = mysql.connector.connect(host="localhost", user="root", passwd="123")
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x76bab47bc320>

In [55]:
# Create a Cursor Object.
cursor = mydb.cursor()

In [56]:
mydb.is_connected()

True

In [18]:
cursor.execute("CREATE DATABASE IF NOT EXISTS testing")
cursor.execute("DROP DATABASE IF EXISTS testing")

In [19]:
cursor.execute("SHOW DATABASES")

for i in cursor:
    print(i)

('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [35]:
cursor.execute("CREATE DATABASE school")
cursor.execute("USE school")

cursor.execute("CREATE TABLE students ( \
Rollno      INTEGER(3)      NOT NULL PRIMARY KEY, \
Name        VARCHAR(20))")

cursor.execute("SHOW TABLES")

print("Tables: ")
for i in cursor:
    print(i)
print()

print("'student' Table Structure: ")
cursor.execute("DESCRIBE students")

for i in cursor:
    print(i)
print()

cursor.execute("DROP TABLE students")
cursor.execute("DROP DATABASE school")

Tables:
('students',)

'student' Table Structure:
('Rollno', 'int', 'NO', 'PRI', None, '')
('Name', 'varchar(20)', 'YES', '', None, '')

In [52]:
cursor.execute("CREATE DATABASE IF NOT EXISTS school")
cursor.execute("USE school")

cursor.execute("CREATE TABLE IF NOT EXISTS students ( \
Rollno      INTEGER(3)      NOT NULL PRIMARY KEY, \
Name        VARCHAR(20))")

cursor.execute("ALTER TABLE students MODIFY Rollno VARCHAR(3)")

print("'student' Table Structure: ")
cursor.execute("DESCRIBE students")

for i in cursor:
    print(i)
print()

mydb.commit()
print(cursor.rowcount)

cursor.execute("DROP TABLE students")
cursor.execute("DROP DATABASE school")

mydb.commit()

'student' Table Structure:
('Rollno', 'varchar(3)', 'NO', 'PRI', None, '')
('Name', 'varchar(20)', 'YES', '', None, '')

2

In [65]:
db_name = input("Please Enter Database Name to Create: ")
cursor.fetchall()

cursor.execute("CREATE DATABASE IF NOT EXISTS {dbname}".format(dbname=db_name))

cursor.execute("SHOW DATABASES")
test = cursor.fetchall()

for i in test:
    print(i)

('asdad_asd',)
('asdads',)
('asdasd_asdads_asdasd',)
('asdasd_asdasd_as',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('testing_db',)

In [53]:
cursor.close()
mydb.close()

## Data File Handling

In [86]:
f = open("Files/test.txt", "r+")

data = f.readlines()
print(data)

f.write(". YES IT DOES!")

f.seek(0)
data = f.readlines()
print(data)
f.close()

['The Sun Goes Down\n', 'and the moon comes up']
['The Sun Goes Down\n', 'and the moon comes up. YES IT DOES!']

In [88]:
with open("Files/test.txt", "r+") as f:
    data = f.readlines()
    print(data)

    f.write(" YES IT DOES!")

    f.seek(0)
    data = f.readlines()
    print(data)

['The Sun Goes Down\n', 'and the moon comes up. YES IT DOES!']
['The Sun Goes Down\n', 'and the moon comes up. YES IT DOES! YES IT DOES!']

In [92]:
# Appending:
with open("Files/test.txt", "a") as f:
    f.write("\nYes. It does. Why are you so Excited tho?")

In [107]:
import pickle

f = open("Files/data.dat", "wb")

l1 = [12, 13, 14, 15, 16]

pickle.dump(l1, f)
pickle.dump(l1, f)
pickle.dump(l1, f)
pickle.dump(l1, f)
f.close()

f1 = open("Files/data.dat", "rb")
while True:
    try:
        data = pickle.load(f1)
        print(data)
        print("Tell Value: " + str(f1.tell()))
    except EOFError:
        break

f1.close()

[12, 13, 14, 15, 16]
Tell Value: 26
[12, 13, 14, 15, 16]
Tell Value: 52
[12, 13, 14, 15, 16]
Tell Value: 78
[12, 13, 14, 15, 16]
Tell Value: 104